<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div id="wrapper" class="login-page">
  <div id="login_form" class="form">
    <form class="register-form" action="login" method="post">
      <input type="text" name="username" placeholder="用户名" id="r_user_name"/>
      <input type="password" name="password" placeholder="密码" id="r_password" />
      <input type="text" name="email" placeholder="电子邮件" id="r_emial"/>
      <button id="create">创建账户</button>
      <p class="message">已经有了一个账户? <a href="#">立刻登录</a></p>
    </form>
  </div>
</div>
</body>
</html>