<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>Zeus</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <script src="/static/plugins/echarts/echarts.min.js"></script>
        <script type="text/javascript" src="/static/js/socket.io.slim.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎管理员：
                                <span class="x-red">
                                    {% if current_user.is_authenticated %}
                                        {{ current_user.username }}
                                    {% endif %}
                                </span>！当前时间: <span id="showtimes"></span>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-card-header">系统资源监控</div>
                                <div class="layui-card-body" style="min-height: 300px;">
                                    <div id="sys" class="layui-col-sm12" style="height: 300px;">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-fluid">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">

                        </div>
                        <div class="layui-col-sm12 layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">网络流量</div>
                                <div class="layui-card-body" style="min-height: 300px;">
                                    <div id="network" class="layui-col-sm12" style="height: 300px;">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-sm12 layui-col-md6">
                            <div class="layui-card">
                                <div class="layui-card-header">硬盘使用量</div>
                                <div class="layui-card-body" style="min-height: 300px;">
                                    <div id="disk" class="layui-col-sm12" style="height: 300px;">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% block content %}
                    {% include "layout/footer.html" %}
                {% endblock %}
            </div>
        </div>
        </div>
    </body>

<script type="text/javascript">

    layui.config({
        base : "/static/js/"
    }).use(['form'], function () {
        var $ =  layui.$;

        // 系统资源监控
        var sysChart = echarts.init(document.getElementById('sys'));
        var networkChart = echarts.init(document.getElementById('network'));
        var diskChart = echarts.init(document.getElementById('disk'));
        sysChart.setOption({
            grid: {
                right: '1%',
                left: '1%',
                bottom: '10%',
                containLabel: true
            },
            title: {
                text: '系统资源监控'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['cpu','memory']
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                data: []
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} %'
                }
            },
            series: [{
                name: 'cpu',
                type: 'line',
                data: []
            },{
                name: 'memory',
                type: 'line',
                data: []
            }]
        });

        // 磁盘监控
        diskChart.setOption({
            tooltip : {
                formatter: "{a} <br/>{b} : {c}%"
            },
            series: [
                {
                    name: '硬盘使用量',
                    type: 'gauge',
                    detail: {formatter:'{value}%'},
                    data: []
                }
            ]
        });

        //网络
        networkChart.setOption({
            grid: {
                right: '1%',
                left: '1%',
                bottom: '10%',
                containLabel: true
            },
            title: {
                text: '网络速率'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['下载速度','上载速度']
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: {readOnly: false},
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                data: []
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} KB/S'
                }
            },
            series: [{
                name: 'recv',
                type: 'line',
                data: []
            },{
                name: 'sent',
                type: 'line',
                data: []
            }]
        });

        // 初始化数组
        var time = ["","","","","","","","","","","","","","","","","","","",""],
            cpu = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            memory = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            disk = [0],
            recv = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            sent = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]


        //准备好统一的 callback 函数
        var update_mychart = function (res) { //res是json格式的response对象

            // 隐藏加载动画
            sysChart.hideLoading();
            diskChart.hideLoading();
            networkChart.hideLoading();

            // 准备数据
            time.push(res.data[0]);
            cpu.push(parseFloat(res.data[1]));
            memory.push(parseFloat(res.data[2]));
            disk.push(parseFloat(res.data[3]));
            recv.push(parseFloat(res.data[4]));
            sent.push(parseFloat(res.data[5]));
            if (time.length >= 20){
                time.shift();
                cpu.shift();
                memory.shift();
                disk.shift();
                recv.shift();
                sent.shift();
            }

            // 填入数据
            sysChart.setOption({
                xAxis: {
                    data: time
                },
                series: [{
                    name: 'cpu', // 根据名字对应到相应的系列
                    data: cpu
                },{
                    name: 'memory',
                    data: memory
                }]
            });

            // 填入数据
            diskChart.setOption({
                series: [{
                    name: '硬盘使用量', // 根据名字对应到相应的系列
                    data: [{value: disk, name: '已使用'}]
                }]
            });

            // 填入数据
            networkChart.setOption({
                xAxis: {
                    data: time
                },
                series: [{
                    name: '下载速度', // 根据名字对应到相应的系列
                    data: recv
                },{
                    name: '上载速度',
                    data: sent
                }]
            });

        };

        // 首次显示加载动画
        sysChart.showLoading();
        diskChart.showLoading();
        networkChart.showLoading();
        // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
        $(document).ready(function() {
            namespace = '/sysInfo';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            socket.on('server_response', function(res) {
                update_mychart(res);
            });
        });

    });
</script>
<script type="text/javascript">
　　function show_cur_times() {
　　　　//获取当前日期
　　　　var date_time = new Date();
　　　　//定义星期
　　　　var week;
　　　　//switch判断
　　　　switch (date_time.getDay()){
　　　　　　case 1: week="星期一"; break;
　　　　　　case 2: week="星期二"; break;
　　　　　　case 3: week="星期三"; break;
　　　　　　case 4: week="星期四"; break;
　　　　　　case 5: week="星期五"; break;
　　　　　　case 6: week="星期六"; break;
　　　　　　default:week="星期天"; break;
　　　　}

　　　　//年
　　　　var year = date_time.getFullYear();
　　　　//判断小于10，前面补0
　　　　if(year<10){
　　　　　　year="0"+year;
　　　　}

　　　　//月
　　　　var month = date_time.getMonth()+1;
　　　　//判断小于10，前面补0
　　　　if(month<10){
　　　　　　month="0"+month;
　　　　}

　　　　//日
　　　　var day = date_time.getDate();
　　　　//判断小于10，前面补0
　　　　if(day<10){
　　　　　　day="0"+day;
　　　　}

　　　　//时
　　　　var hours =date_time.getHours();
　　　　//判断小于10，前面补0
　　　　if(hours<10){
　　　　　　hours="0"+hours;
　　　　}

　　　　//分
　　　　var minutes =date_time.getMinutes();
　　　　//判断小于10，前面补0
　　　　if(minutes<10){
　　　　　　minutes="0"+minutes;
　　　　}

　　　　//秒
　　　　var seconds=date_time.getSeconds();
　　　　//判断小于10，前面补0
　　　　if(seconds<10){
　　　　　　seconds="0"+seconds;
　　　　}

　　　　//拼接年月日时分秒
　　　　var date_str = year+"年"+month+"月"+day+"日 "+hours+":"+minutes+":"+seconds+" "+week;

　　　　//显示在id为showtimes的容器里
　　　　document.getElementById("showtimes").innerHTML= date_str;
　　}

　　//设置1秒调用一次show_cur_times函数
　　setInterval("show_cur_times()",1000);

</script>
</html>