<!-- 左侧导航-->
<div class="layui-side layui-bg-black">
    <div class="user-photo">
        <a class="img" title="我的头像" ><img src="/static/img/zcm2015.jpeg"></a>
        <p>你好！<span class="userName" id="userNameSpan">carl</span>, 欢迎登录</p>
    </div>
    <!-- 左侧菜单-->
    <div class="navBar layui-side-scroll" id="navBarId">


        <ul class="layui-nav layui-nav-tree layui-left-nav">
            <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">
                <i class="layui-icon larry-icon larry-xitongshezhi1" data-icon="larry-xitongshezhi1"></i><cite>系统设置</cite><span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-url="/scheduler/list">
                            <i class="layui-icon larry-icon larry-yonghuliebiao" data-icon="larry-yonghuliebiao"></i><cite>任务调度</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <span class="layui-nav-bar" style="top: 22.5px; height: 0px; opacity: 0;"></span></ul>

        <ul class="layui-nav layui-nav-tree layui-left-nav">
            <li class="layui-nav-item"><a href="javascript:;">
                <i class="layui-icon larry-icon larry-xitongshezhi1" data-icon="larry-xitongshezhi1"></i><cite>基本面数据</cite><span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-url="/stock/list">
                            <i class="layui-icon larry-icon larry-yonghuliebiao" data-icon="larry-yonghuliebiao"></i><cite>股票列表</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/perNotice">
                            <i class="layui-icon larry-icon larry-10103" data-icon="larry-10103"></i><cite>业绩报告</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/profit">
                            <i class="layui-icon larry-icon larry-kechengguanli" data-icon="larry-kechengguanli"></i><cite>盈利能力</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/operating">
                            <i class="layui-icon larry-icon larry-jueseguanli" data-icon="larry-jueseguanli"></i><cite>营运能力</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/growth">
                            <i class="layui-icon larry-icon larry-caidanguanli" data-icon="larry-caidanguanli"></i><cite>成长能力</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/solvency">
                            <i class="layui-icon larry-icon larry-databasesql" data-icon="larry-databasesql"></i><cite>偿债能力</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/cashFlow">
                            <i class="layui-icon larry-icon larry-jiankong" data-icon="larry-jiankong"></i><cite>现金流量</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <span class="layui-nav-bar" style="top: 22.5px; height: 0px; opacity: 0;"></span></ul>

        <ul class="layui-nav layui-nav-tree layui-left-nav">
            <li class="layui-nav-item"><a href="javascript:;">
                <i class="layui-icon larry-icon larry-xitongshezhi1" data-icon="larry-xitongshezhi1"></i><cite>交易数据</cite><span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-url="/stock/realTimePen">
                            <i class="layui-icon larry-icon larry-yonghuliebiao" data-icon="larry-yonghuliebiao"></i><cite>实时分笔</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/historicalQuotes">
                            <i class="layui-icon larry-icon larry-10103" data-icon="larry-10103"></i><cite>历史行情</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/recoverData">
                            <i class="layui-icon larry-icon larry-kechengguanli" data-icon="larry-kechengguanli"></i><cite>复权数据</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/realTimeMarket">
                            <i class="layui-icon larry-icon larry-jueseguanli" data-icon="larry-jueseguanli"></i><cite>实时行情</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/historyPen">
                            <i class="layui-icon larry-icon larry-caidanguanli" data-icon="larry-caidanguanli"></i><cite>历史分笔</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/todayHistoryPen">
                            <i class="layui-icon larry-icon larry-databasesql" data-icon="larry-databasesql"></i><cite>当日历史分笔</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/marketIndex">
                            <i class="layui-icon larry-icon larry-jiankong" data-icon="larry-jiankong"></i><cite>大盘指数行情列表</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/stock/bigSingleTransactionData">
                            <i class="layui-icon larry-icon larry-jiankong" data-icon="larry-jiankong"></i><cite>大单交易数据</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <span class="layui-nav-bar" style="top: 22.5px; height: 0px; opacity: 0;"></span></ul>
    </div>

</div>


