<!-- 左侧导航-->
<div class="layui-side layui-bg-black">
    <div class="user-photo">
        <a class="img" title="我的头像" ><img src="/static/img/zcm2015.jpeg"></a>
        <p>你好！<span class="userName" id="userNameSpan">carl</span>, 欢迎登录</p>
    </div>
    <!-- 左侧菜单-->
    <div class="navBar layui-side-scroll" id="navBarId">
        <ul class="layui-nav layui-nav-tree layui-left-nav">
            <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">
                <i class="layui-icon larry-icon larry-xitongshezhi1" data-icon="larry-xitongshezhi1"></i><cite>基本面数据</cite><span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:;" data-url="/stock/list">
                            <i class="layui-icon larry-icon larry-yonghuliebiao" data-icon="larry-yonghuliebiao"></i><cite>股票列表</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/sys/user/list">
                            <i class="layui-icon larry-icon larry-10103" data-icon="larry-10103"></i><cite>业绩报告</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/sys/dept/list">
                            <i class="layui-icon larry-icon larry-kechengguanli" data-icon="larry-kechengguanli"></i><cite>盈利能力</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/sys/role/list">
                            <i class="layui-icon larry-icon larry-jueseguanli" data-icon="larry-jueseguanli"></i><cite>营运能力</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/sys/menu/list">
                            <i class="layui-icon larry-icon larry-caidanguanli" data-icon="larry-caidanguanli"></i><cite>成长能力</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/druid/sql">
                            <i class="layui-icon larry-icon larry-databasesql" data-icon="larry-databasesql"></i><cite>偿债能力</cite>
                        </a>
                    </dd>
                    <dd>
                        <a href="javascript:;" data-url="/sys/schedule/list">
                            <i class="layui-icon larry-icon larry-jiankong" data-icon="larry-jiankong"></i><cite>现金流量</cite>
                        </a>
                    </dd>
                </dl>
            </li>
            <span class="layui-nav-bar" style="top: 22.5px; height: 0px; opacity: 0;"></span></ul>
    </div>

</div>


