{#<div class="layui-tab" lay-filter="demo" lay-allowclose="true">#}
{#    <ul class="layui-tab-title">#}
{#        <li class="layui-this" lay-id="仪表盘">仪表盘</li>#}
{#    </ul>#}
{#</div>#}
<div class="layui-tab layui-tab-card" lay-filter="demo" lay-allowclose="true" style="width: 100%;height: 730px;" >
    <ul class="layui-tab-title">
        <li class="layui-this">首页</li>
    </ul>
    <div class="layui-tab-content" style="width: 100%;height: 100%;">
        <div class="layui-tab-item layui-show">
        </div>
    </div>
</div>