<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="后台管理系统">
    <meta name="description" content="">

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>
<body>
<div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="/">首页</a>
            <a><cite>用户管理</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i
                                    class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
{#                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>#}
                    <button class="layui-btn" onclick="xadmin.open('添加用户','/admin/add',600,600)"><i
                            class="layui-icon"></i>添加
                    </button>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-table" lay-data="{url:'/admin/list', method:'POST', page:true, id:'itemId'}" lay-filter="itemId">
                        <thead>
                            <tr>
{#                                <th lay-data="{type:'checkbox', width:'5%'}">ID</th>#}
                                <th lay-data="{field:'username', align:'center', width:'10%'}">账号</th>
                                <th lay-data="{field:'phone', align:'center', width:'10%'}">手机号码</th>
                                <th lay-data="{field:'email', width:'15%', align:'center'}">邮箱</th>
                                <th lay-data="{field:'role_names', width: '25%', align:'center'}">角色</th>
                                <th lay-data="{field:'createTime', width: '12%', align:'center'}">加入时间</th>
                                <th lay-data="{field:'state', align:'center', width: '8%', templet: '#statusTpl'}">状态</th>
                                <th lay-data="{align:'center', width: '19%', toolbar: '#itemBar'}">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    layui.config({
        base: "/static/js/"
    }).use(['form', 'table', 'laydate','common'], function () {
        var $ =  layui.$;
        var form = layui.form,
        table = layui.table,
        laydate = layui.laydate,
        common = layui.common;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        /**监听工具条*/
        table.on('tool(itemId)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            console.log(obj);

            //启用
            if (layEvent === 'item_enable') {
                var id = data.id;
                var status = data.status;
                if (status == 1) {
                    status = 0;
                } else {
                    status = 1;
                }
                var url =  "/admin/enable/"+id;
                var param = {status:JSON.stringify(status)};
                common.ajaxCmsConfirm('系统提示', '确认要启用/关闭?', url, param);
            }

            //编辑
            if (layEvent === 'item_edit') {
                var id = data.id;
                var url =  "/admin/edit/"+id;
                common.cmsLayOpen('编辑',url,'650px','590px');
            }

            //删除
            if (layEvent === 'item_delete') {
                var id = data.id;
                var url =  "/admin/del/"+id;
                common.ajaxCmsConfirm('系统提示', '确认删除角色?', url, null);
            }
        });
    });

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？', function(index) {

            if ($(obj).attr('title') == '启用') {

                //发异步把用户状态进行更改
                $(obj).attr('title', '停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".span-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!', {icon: 5, time: 1000});

            } else {
                $(obj).attr('title', '启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".span-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!', {icon: 5, time: 1000});
            }

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
        });
    }

    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
    }
</script>

<!-- 运行状态tpl-->
<script type="text/html" id="statusTpl">
    {{ '{{# if(d.status == 1) { }}' }}
        <span class="layui-btn td-status layui-btn-normal layui-btn-mini">已启用</span>
    {{ '{{# } else if(d.status == 0) { }}' }}
        <span class="layui-btn td-status layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>
    {{ '{{# } }}' }}
</script>

<!--工具条 -->
<script type="text/html" id="itemBar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="item_enable" ><i class="layui-icon">&#xe62f;</i>启用</a>
        <a class="layui-btn layui-btn layui-btn-xs" lay-event="item_edit" ><i class="layui-icon">&#xe642;</i>编辑</a>
        <a class="layui-btn-danger layui-btn layui-btn-xs"  lay-event="item_delete" ><i class="layui-icon">&#xe640;</i>删除</a>
    </div>
</script>
</body>
</html>