<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>注册</title>
		<link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/static/css/auth/login.css" />
	</head>
	<body class="beg-login-bg">
		<div class="beg-login-box">
			<header>
				<h1>后台注册</h1>
			</header>
			<div class="beg-login-main">
				<form action="{{ url_for("auth.register") }}" class="layui-form" method="post">
					<!--<input name="__RequestVerificationToken" type="hidden" value="fkfh8D89BFqTdrE2iiSdG_L781RSRtdWOH411poVUWhxzA5MzI8es07g6KPYQh9Log-xf84pIR2RIAEkOokZL3Ee3UKmX0Jc8bW8jOdhqo81" />-->
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
						<input type="text" name="username" id="username" lay-verify="required" autocomplete="off" placeholder="这里输入登录名" class="layui-input">
					</div>
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
						<input type="password" name="password" id="password" lay-verify="required" autocomplete="off" placeholder="这里输入密码" class="layui-input">
					</div>
					<div class="layui-form-item" style="text-align: center;">
						<div class="" >
							<button type="submit" class="layui-btn" lay-submit lay-filter="login" >
                            <i class="layui-icon">&#xe650;</i> 注册
                            </button>
						</div>
						<div class="beg-clear"></div>
					</div>
                    <div class="register" style="text-align: center;margin-top: 30px;font-size: larger;">
                        <p class="message">已经有了一个账户? <a href="{{ url_for("auth.login") }}">立刻登录</a></p>
                    </div>
				</form>
			</div>
		</div>
<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
<script>

    layui.use('form', function(){
        var form = layui.form;
    });

</script>
</body>
</html>